{% extends 'base.html' %}

{% block title %}Департаменты{% endblock %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<p>Are you sure you want to delete "{{department}}"?</p>

			<form action="{% url 'delete_department' item.id  %}" method="POST">

				{% csrf_token %}

				<a class="btn btn-warning" href="{% url 'departments' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}