{% extends 'base.html' %}

{% block title %}Департаменты{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3 ">
        <h1 class="d-flex justify-content-center">Департаменты</h1>
    </div>

    <div class="d-flex justify-content-end mb-3">
         <a class="btn btn-sm btn-primary" href="{% url 'department_add' %}">Добавить департамент</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Департамент</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for department in departments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ department.department }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{% url 'update_department' department.id %}">Изменить</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_department' department.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}



