{% extends 'base.html' %}

{% block title %}Удаление департамента{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3 center">
        <h1 class="d-flex justify-content-center">Департаменты</h1>
        <p class="d-flex justify-content-center lead">Удаление департамента</p>
    </div>

    <div class="container mt-5">

        <div class="col-5 mx-auto">

            {% if department.division.exists %}

            <div class="card text-center text-white bg-danger mb-4">
                <div class="card-body">

                    <h5 class="card-title">Вы не можете удалить <span class="fw-bold fs-4">{{department}}</span>, так как в нем существуют отделы</h5>
                    <p class="card-text">Перед удалением департамента {{ depatment }} необходимо удалить отделы</p>
                    <a class="btn btn-warning w-25 me-2" href="{% url 'departments' %}">Назад</a>

                </div>
            </div>

            {% elif department.employees.exists %}

            <div class="card text-center text-white bg-danger mb-4">
                <div class="card-body">

                    <h5 class="card-title">Вы не можете удалить <span class="fw-bold fs-4">{{department}}</span>, так как в нем есть сотрудники</h5>
                    <p class="card-text">Перед удалением департамента {{ depatment }} необходимо удалить сотрудников</p>
                    <a class="btn btn-warning w-25 me-2" href="{% url 'departments' %}">Назад</a>

                </div>
            </div>

            {% else %}

            <div class="card text-center text-white bg-danger mb-4">
                <div class="card-body">

                    <h5 class="card-title">Вы уверены, что хотите удалить <span class="fw-bold fs-4"> "{{department}}" </span> ?</h5>
                    <p class="card-text">Это не действие необратимо.</p>


                    <form action="{% url 'delete_department' department.id  %}" method="POST">

                        {% csrf_token %}
                        <a class="btn btn-warning w-25 me-2" href="{% url 'departments' %}">Нет</a>
                        <button type="submit" class="btn btn-outline-dark w-25"><i class="bi-trash"></i>Удалить</button>

                    </form>
                </div>
            </div>

            {% endif %}


        </div>
    </div>

</div>

{% endblock %}>