{% extends 'base.html' %}

{% block title %}Отделы{% endblock %}

{% block content %}

<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3 ">
        <h1 class="d-flex justify-content-center">Отделы</h1>
    </div>

    <form action="" method="get" class="">
        <div class="form-control input-group mb-5">
            <input type="text" class="form-control form-control-lg" placeholder="Поиск" name="q">
            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Поиск</button>
        </div>
    </form>

    {% if perms.phonebook.add_division %}
    <div class="d-flex justify-content-end mb-3">
         <a class="btn btn-sm btn-primary" href="{% url 'division_add' %}">Добавить отдел</a>
    </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="table-primary">
            <tr>
                <th>№</th>
                <th>Отдел</th>
                <th>Департамент</th>

                {% if perms.phonebook.change_division or perms.phonebook.delete_division %}<th></th>{% endif %}

            </tr>
            </thead>
            <tbody>
            {% for division in divisions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ division.division }}</td>
                <td>{{ division.department }}</td>

                {% if perms.phonebook.change_division or perms.phonebook.delete_division %}
                <td>
                    {% if perms.phonebook.change_division %}
                    <a class="btn btn-sm btn-warning" href="{% url 'update_division' division.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.phonebook.delete_division %}
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_division' division.id %}">Удалить</a>
                    {% endif %}
                </td>
                {% endif %}

            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

    {% endblock %}



