{% extends 'base.html' %}

{% block title %}Добавление департамента{% endblock %}

{% block content %}

<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3 center">

        {% if form.department.value %}
        <h1 class="d-flex justify-content-center">Форма изменения отделов</h1>
        {% else %}
        <h1 class="d-flex justify-content-center">Форма добавление отдела</h1>
        {% endif %}
        <p class="d-flex justify-content-center lead">Поля отмеченные звездочкой обязательны для заполнения</p>
    </div>

    <div class="container-form mt-5">

        <form class="needs-validation" method="post" id="divisionForm"
              data-division-url="{% url 'ajax_load_division" novalidate>

            {% csrf_token %}

            {% for f in form %}

                <div class="row mb-4">
                    <label class="col-sm-2 col-form-label">{{ f.label }}{% if f.field.required %} * {% endif %} :</label>
                    <div class="col-sm-10">{{ f }}</div>

                {% if f.errors %}

                <div class="alert alert-danger alert-dismissible fade show mt-2">
                    <strong>{{f.errors}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>

                {% endif %}

                </div>

            {% endfor %}

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-secondary">Добавить</button>
            </div>

        </form>
    </div>

{% endblock %}
