{% extends 'base.html' %}

{% block title %}Телефонная книга{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <h1 class="d-flex justify-content-center">Телефонная книга</h1>
    </div>

    {% if perms.phonebook.add_employees %}
    <div class="d-flex justify-content-end mb-3">
         <a class="btn btn-sm btn-primary" href="{% url 'employees_add' %}"><i class="bi bi-person-plus me-1"></i>Добавить сотрудника</a>
    </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover text-center">
            <thead class="table-primary">
            <tr>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Департамент</th>
                <th>Отдел</th>
                <th>Email</th>
                <th>Сотовый телефон</th>
                <th>Телефон</th>
                {% if perms.phonebook.change_employees or perms.phonebook.delete_employees %}<th></th>{% endif %}
            </tr>
            </thead>
            <tbody>
            {% for employ in employees %}
            <tr>
                <td>{{ employ.fio }}</td>
                <td>{{ employ.position }}</td>
                <td>{{ employ.department }}</td>
                {% if employ.division is not none %}
                <td>{{ employ.division }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if employ.email is not none %}
                <td>{{ employ.email }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if employ.cellphone is not none %}
                <td class="table-cell">{{ employ.cellphone }}</td>
                 {% else %}
                <td></td>
                {% endif %}
                {% if employ.phone is not none %}
                <td class="table-phone">{{ employ.phone }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if perms.phonebook.change_employees or perms.phonebook.delete_employees %}
                <td>
                    {% if perms.phonebook.change_employees %}
                    <a class="btn btn-sm btn-warning mb-2 w-100" href="{% url 'update_employees' employ.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.phonebook.delete_employees %}
                    <a class="btn btn-sm btn-danger w-100" href="{% url 'delete_employees' employ.id %}">Удалить</a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

    {% endblock %}



