{% extends 'base.html' %}


{% block title %}
{% if form.fio.value %}
Изменение сотрудника
{% else %}
Добавление сотрудника
{% endif %}{% endblock %}

{% block content %}

<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3 center">
        {% if form.fio.value %}
        <h1 class="d-flex justify-content-center">Форма изменения сотрудника</h1>
        {% else %}
        <h1 class="d-flex justify-content-center">Форма добавления сотрудников</h1>
        {% endif %}
        <p class="d-flex justify-content-center lead">Поля отмеченные звездочкой обязательны для заполнения</p>
    </div>

    <div class="container-form">

        <form class="needs-validation" method="POST" id="employeesForm"
              data-division-url="{% url 'ajax_load_division' %}" novalidate>

            {% csrf_token %}

            {% for f in form %}

                <div class="row mb-4">
                    <label class="col-sm-2 col-form-label">{{ f.label }}{% if f.field.required %} * {% endif %} :</label>

                    <div class="col-sm-10">{{ f }}</div>

                    {% if f.errors %}

                    <div class="alert alert-danger alert-dismissible fade show mt-2">
                        <strong>{{f.errors}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>

                    {% endif %}

                </div>

            {% endfor %}

            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-warning w-100 me-2" href="{% url 'phonebook' %}">Отменить</a>
                </div>
                {% if form.fio.value %}
                <div class="col-md-6">
                    <button type="submit" class="btn btn-secondary w-100">Изменить</button>
                </div>
                {% else %}
                <div class="col-md-6">
                    <button type="submit" class="btn btn-secondary w-100">Добавить</button>
                </div>
                {% endif %}
            </div>

        </form>

    </div>

    <!-- список отделов -->
    <script>
    $("#id_department").change(function () {
      var url = $("#employeesForm").attr("data-division-url");
      var departmentId = $(this).val();

      $.ajax({
        url: url,
        data: {
          'department': departmentId
        },
        success: function (data) {
          $("#id_division").html(data);
        }
      });

    });

    </script>

    <!-- ошибки валидации -->
    <script>
        // Self-executing function
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>
</div>
{% endblock %}