.container{
    max-width: 1500px;
}

#logo {
    max-width: 50px;
}

.navbar{
    display: block;
    padding: 0;
    }

.navbar-top {
    padding: 12px 0;
    border-bottom: 1px solid #dbdbdb;
}

.navbar-left, .navbar-right {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-left li, .navbar-right li {
    list-style: none;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4;
    letter-spacing: normal;
    padding-right: 42px;
}

.navbar-right li {
    padding-right: 0;
}

.navbar-right li a {
    color: #000;
    font-size: 14px;
    padding: 0 5px;
    text-decoration: none;
    border-right: 1px solid #dbdbdb;
}

.navbar-right li:last-child a {
    border-right: none;
}

.social-media {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 22px;
  padding-top: 16px;
}

.social-media li {
    padding: 0 4px;
}

.social-media li a {
    padding: 2px 4px;
    background-color: #000;
    border-radius: 4px;
    color: #ffffff;
}

.navbar-bottom-menu {
    border-bottom: 1px solid #dbdbdb;
}

.navbar-bottom-menu .navbar-nav .nav-item {
    padding-left: 0;
}

.navbar-bottom-menu .navbar-nav .nav-item .nav-link {
    padding: 22px;
    line-height: 1.31;
    font-weight: 600;
    font-size: 16px;
}

.service_link{
  transition:0.5s;
  cursor:pointer;
}

.service_link:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-link{
    color: #000;
    text-decoration: none;
}

.birthday{
    background-image: url("/static/img/Открытка.jpg");
    background-size: 100%;
    height: 407px;
    background-repeat: no-repeat;
    position: relative;
}

.birthday_kz{
    background-image: url("/static/img/Открытка_каз.jpg");
    background-size: 100%;
    height: 407px;
    background-repeat: no-repeat;
    position: relative;
}

.birthday-image{
    position: absolute;
    top: 76px;
    left: 55px;
    width: 165px;
    height: 220px;
    border: solid 1px grey;
}

.birthday-title{
    position: absolute;
    top: 200px;
    left: 250px;
    font-weight: bold;
}

.birthday-text{
    position: absolute;
    top: 225px;
    left: 252px;
    width: 365px;
}

.col-sm-6{
    position: relative;
}

.card-button{
    position: absolute;
    top: 10px;
    left: 180px;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
    line-height: none;
}

.image {
	  opacity: 1;
	  transition: .5s ease;
	  backface-visibility: hidden;
	  border: solid 1px grey;
}

.image-group{
		position: relative;
  		text-align: center;
  		cursor:pointer;
}

.image-group:hover .image {
	  opacity: 0.3;
}

.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
}

.image-group:hover .middle {
	  opacity: 1;
}

.text {
	  margin: auto;
	  background-color: #4CAF50;
	  color: white;
	  padding: 15px;
}


tr:hover {
    background-color: #cfe2ff;
    }

.table-cell {
    width: 9rem !important;
    }

.table-phone{
    width: 6rem !important;
    }

.container-form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
    background: #f8f9fa;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);}

.errorlist {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    }


.btn:hover{
    background-color: #0d6efd;
    color: white;
    }


.dropdown-toggle::after{
    display: none;
    }

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
	.navbar .nav-item:hover .nav-link{ color: #000;}}
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}


