{% extends 'base.html' %}
{% load static %}

{% block title %}Портал{% endblock %}

{% block content %}

<div class="container">

    <div class="p-4 mb-4 bg-light rounded-3">
        <h1 class="d-flex justify-content-center">Портал KMO</h1>
        <p class="d-flex justify-content-center lead">Единый информационный портал Казмедии</p>
    </div>


    <div class="">
        <div class="d-flex p-4">
            <a class="card-link" href="https://documentolog.kmo.kz/" target="blank">
                <div class="card p-2 me-4">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4">
                            <img src="{% static 'img/documentolog.png' %}" width="60" height="80" alt="Documentolog">
                        </div>
                        <div class="col-md-8 align-items-center">
                            <h5>Документолог</h5>
                            <p>Служебная записка</p>
                        </div>
                    </div>
                </div>
            </a>

            <a class="card-link" href="https://hd.kmo.kz/" target="blank">
                <div class="card p-2 me-4">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4">
                            <img src="{% static 'img/HD.png' %}" width="60" height="80" alt="HelpDesk">
                        </div>
                        <div class="col-md-8">
                            <h5>HELP DESK</h5>
                            <p>Подать заявку</p>
                        </div>
                    </div>
                </div>
            </a>

            <a class="card-link" href="http://10.23.65.99/" target="blank">
                <div class="card p-2 me-4">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4">
                            <img src="{% static 'img/SKUD.png' %}" width="60" height="80" alt="SKUD">
                        </div>
                        <div class="col-md-8">
                            <h5>СКУД</h5>
                            <p>Войти в СКУД</p>
                        </div>
                    </div>
                </div>
            </a>

            <a class="card-link" href="file://///\\localhost" target="_explorer.exe">
                <div class="card p-2">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4">
                            <img src="{% static 'img/sample.png' %}" width="60" height="80" alt="SKUD">
                        </div>
                        <div class="col-md-8">
                            <h5>Шаблоны</h5>
                            <p>Перейти</p>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </div>



</div>
{% endblock %}