{% extends 'base.html' %}
{% load static %}

{% block title %}Портал{% endblock %}

{% block content %}

<div class="container">

    <div class="p-4 mb-4 bg-light rounded-3">
        <h1 class="d-flex justify-content-center">Портал KMO</h1>
        <p class="d-flex justify-content-center lead">Единый информационный портал Казмедии</p>
    </div>


    <div class="">
        <div class="d-flex p-4 justify-content-around">
            
            <a class="card-link" href="https://documentolog.kmo.kz/" target="blank">
                <div class="card p-2 me-4 service_link">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4">
                            <img src="{% static 'img/documentolog.png' %}" width="60" height="80" alt="Documentolog">
                        </div>
                        <div class="col-md-8 align-items-center">
                            <h5>Документолог</h5>
                            <p>Служебная записка</p>
                        </div>
                    </div>
                </div>
            </a>

            <a class="card-link" href="https://hd.kmo.kz/" target="blank">
                <div class="card p-2 me-4 service_link">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4">
                            <img src="{% static 'img/HD.png' %}" width="60" height="80" alt="HelpDesk">
                        </div>
                        <div class="col-md-8">
                            <h5>HELP DESK</h5>
                            <p>Подать заявку</p>
                        </div>
                    </div>
                </div>
            </a>

            <a class="card-link" href="http://10.23.65.99/" target="blank">
                <div class="card p-2 me-4 service_link">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-4">
                            <img src="{% static 'img/SKUD.png' %}" width="60" height="80" alt="SKUD">
                        </div>
                        <div class="col-md-8">
                            <h5>СКУД</h5>
                            <p>Войти в СКУД</p>
                        </div>
                    </div>
                </div>
            </a>



        </div>

    </div>

    {% if birthday%}
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">

        {% for b in birthday %}

        <div class="col">
            <div class="card birthday">
                <img src="{{ b.photo.url }}" class="birthday-image" alt="">
                <h5 class="birthday-title">{{ b.fio }}</h5>
                <p class="birthday-text">{{ b.position }}</p>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col">
            <div class="card">
                <img src="#" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 5 mins ago</small>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="#" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some dummy text to make up the card's content. You can replace it anytime.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 5 mins ago</small>
                </div>
            </div>
        </div>
    </div>







</div>
{% endblock %}