<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body style="width: 724; height: 405; position: relative;">

    <img src="{{ card }}" style="width:100%;">
    <h5 style="position:absolute; top: 40%; left: 34%; font-weight: bold; font-size: 22px;">{{ fio }}</h5>
    <p style="position:absolute; top: 53%; left: 34%; font-size: 16px; width: 300px;">{{ position }}</p>
    <img src="{{ photo }}" style="position:absolute; top: 76px; left: 55px; width: 165px; height: 220px; border: solid 1px grey;">

</body>
</html>