{% load static %}

{% now "Y-m-d" as today_str %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>

<header id="header">

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">

            <div class="d-flex justify-content-between align-items-center navbar-top">
                <ul class="navbar-left">
                    <li id="date"></li>
                    <li id="time"></li>
                </ul>
                <div>
                    <a class="navbar-brand" href="{% url 'home' %}"><img id="logo" src="{% static 'img/logo3.png' %}" alt=""/></a>
                </div>
                <div class="d-flex">
                    <ul class="navbar-right">
                        <li><a href="#">Руский</a></li>
                        <li><a href="#">Казахский</a></li>
                    </ul>
                    <ul class="social-media">
                        <li><a href="https://www.instagram.com/kazmedia_ortalygy/" target="blank"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/qazmedia/" target="blank"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCMYPIaprCxS51FRg-v3keCg" target="blank"><i class="bi bi-youtube"></i> </a></li>
                    </ul>
                </div>
            </div>

            <div class="d-flex navbar-bottom-menu">
                <div class="navbar-collapse justify-content-center w-100">
                    <ul class="navbar-nav d-lg-flex justify-content-between align-items-center">
                        <li class="nav-item active"><a class="nav-link active" href="{% url 'home' %}"><i
                                class="bi bi-house-door me-1"></i>Home</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'phonebook' %}"><i
                                class="bi bi-book me-1"></i>Phonebook</a></li>

                        {% if perms.main.add_birthday or perms.main.change_birthday or perms.main.delete_birthday %}
                        <li class="nav-item"><a class="nav-link active" href="{% url 'birthday' %}"><i class="bi bi-window me-1"></i>Дни рождения</a></li>
                        {% endif %}

                        {% if perms.phonebook.add_department or perms.phonebook.change_department or perms.phonebook.delete_department %}
                        <li class="nav-item"><a class="nav-link active" href="{% url 'departments' %}"><i class="bi bi-window me-1"></i>Департаменты</a></li>
                        {% endif %}

                        {% if perms.phonebook.add_division or perms.phonebook.change_division or perms.phonebook.delete_division %}
                        <li class="nav-item"><a class="nav-link active" href="{% url 'divisions' %}"><i
                                class="bi bi-window-dock me-1"></i>Отделы</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="navbar-collapse justify-content-end flex-shrink-0">
                    <ul class="navbar-nav d-lg-flex justify-content-end align-items-end">
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link active" href="{% url 'logout' %}">Выход | {{ user.get_username }}</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</header>

<script>
   var timeNode = document.getElementById('time');
   var dateNode = document.getElementById('date');

   function getCurrentTimeString() {
      return new Date().toTimeString().replace(/ .*/, '');
   }

   Data = new Date();
   Year = Data.getFullYear();
   Month = Data.getMonth();
   Day = Data.getDate();

   switch (Month)
    {
      case 0: fMonth="января"; break;
      case 1: fMonth="февраля"; break;
      case 2: fMonth="марта"; break;
      case 3: fMonth="апреля"; break;
      case 4: fMonth="мае"; break;
      case 5: fMonth="июня"; break;
      case 6: fMonth="июля"; break;
      case 7: fMonth="августа"; break;
      case 8: fMonth="сентября"; break;
      case 9: fMonth="октября"; break;
      case 10: fMonth="ноября"; break;
      case 11: fMonth="декабря"; break;
    }

   var date = (Day + " " + fMonth + " " + Year + " года");


   dateNode.innerHTML = date;

   setInterval(
      () => timeNode.innerHTML = getCurrentTimeString(),
      1000
   );

</script>




{% block content %}
{% endblock %}

</body>
</html>